
.grayscale {
  -webkit-filter: grayscale(1);
}
.sepia {
  -webkit-filter: sepia(1);
}
.blur {
  -webkit-filter: blur(5px);
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%:
}

#camera, #canvas, #output{
    position: absolute;
    height: 100%;
    width: 100%:
    object-fit: cover;
}
/*mirror view*/
#camera, #canvas, #output{
    transform: scaleX(-1);
    filter: FlipH;
}
#take-photo{
    width: 200px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    position: fixed;
    bottom: 30px;
    left: calc(25% - 100px);
}
#grayscale{
    width: 200px;
    background-color: #667;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    bottom: 30px;
    left: calc(50% - 100px);
    position: fixed;
  }
  #sepia{
      width: 200px;
      background-color: #704214;
      color: white;
      font-size: 16px;
      border-radius: 30px;
      border: none;
      padding: 15px 20px;
      text-align: center;
      box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
      bottom: 30px;
      left: calc(90% - 100px);
      position: fixed;
    }
    #blur{
        width: 200px;
        background-color: white;
        color: black;
        font-size: 16px;
        border-radius: 30px;
        border: none;
        padding: 15px 20px;
        text-align: center;
        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
        bottom: 30px;
        left: calc(72% - 100px);
        position: fixed;
      }

.taken{
    height: 100px!important;
    width: 100px!important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    top: 20px;
    right: 20px;
    z-index: 2;
}
